spring:
  application:
    name: corneast-core
server:
  port: 8080

eureka:
  instance:
    leaseRenewalIntervalInSeconds: 1
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    initialInstanceInfoReplicationIntervalSeconds: 0

netty:
  server:
    port: 8088

ringbuffer:
  workHandlerCount: 1000

rate-limiting:
  permits-per-second: 1000000

idempotent:
  redisEndpoints:
    - "redis://127.0.0.1:6000"
    - "redis://127.0.0.1:6001"
    - "redis://127.0.0.1:6002"

storage:
  masters:
    - "corneast-storage-001-master"
    - "corneast-storage-002-master"
  sentinels:
    - "redis://172.19.0.10:26379"
    - "redis://172.19.0.11:26379"
    - "redis://172.19.0.12:26379"
  database: 0
  timeout: 1000
  connectTimeout: 100

thread-pool:
  register:
    corePoolSize: 20
    maximumPoolSize: 40
    keepAliveTime: 10
    unit: SECONDS
  reduce:
    corePoolSize: 1000
    maximumPoolSize: 1000
    keepAliveTime: 10
    unit: SECONDS
  release:
    corePoolSize: 20
    maximumPoolSize: 40
    keepAliveTime: 10
    unit: SECONDS
  query:
    corePoolSize: 20
    maximumPoolSize: 40
    keepAliveTime: 10
    unit: SECONDS
