spring:
  application:
    name: corneast-core
server:
  port: 8080

eureka:
  instance:
    leaseRenewalIntervalInSeconds: 1
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    initialInstanceInfoReplicationIntervalSeconds: 0

netty:
  server:
    port: 8088

ringbuffer:
  workHandlerCount: 1000

rateLimiting:
  permitsPerSecond: 1000000

idempotent:
  redisAddresses:
    - "redis://127.0.0.1/6000"
    - "redis://127.0.0.1/6001"
    - "redis://127.0.0.1/6002"

storage:
  masters:
    - "corneast-storage-001-master"
    - "corneast-storage-002-master"
  sentinels:
    - "redis://127.0.0.1:27001"
    - "redis://127.0.0.1:27002"
    - "redis://127.0.0.1:27003"
  database: 0
  timeout: 1000
  connectTimeout: 100
