spring:
  application:
    name: corneast-core
server:
  port: 8080

eureka:
  instance:
    nonSecurePort: 8088
    leaseRenewalIntervalInSeconds: 1
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    initialInstanceInfoReplicationIntervalSeconds: 0

ringbuffer:
  workHandlerCount: 1000

ratelimiting:
  permitsPerSecond: 1000000

idempotent:
  redisEndpoints:
    - "redis://127.0.0.1:6000"
    - "redis://127.0.0.1:6001"
    - "redis://127.0.0.1:6002"
  ttl: 10

storage:
  masters:
    - "corneast-storage-001-master"
    - "corneast-storage-002-master"
  sentinels:
    - "redis://172.19.0.10:26379"
    - "redis://172.19.0.11:26379"
    - "redis://172.19.0.12:26379"
  database: 0
  timeout: 1000
  connectTimeout: 100

threadpool:
  register:
    corePoolSize: 20
    maximumPoolSize: 40
    keepAliveTime: 10
    unit: SECONDS
  reduce:
    corePoolSize: 1000
    maximumPoolSize: 1000
    keepAliveTime: 10
    unit: SECONDS
  release:
    corePoolSize: 20
    maximumPoolSize: 40
    keepAliveTime: 10
    unit: SECONDS
  query:
    corePoolSize: 20
    maximumPoolSize: 40
    keepAliveTime: 10
    unit: SECONDS

netty:
  port: 8088
  threadName: "Netty-Server"
  daemon: false
  bossGroup:
    nThreads: 1
    soBacklog: 1024
    soReuseAddr: true
    logLevel: INFO
  workerGroup:
    nThreads: 80
    keepAlive: false
    tcpNodelay: true
    allocator:
      preferDirect: true
      nHeapArena: 40
      nDirectArena: 40
      pageSize: 8192
      maxOrder: 11
    rcvBufAllocator:
      minimum: 64
      initial: 8192
      maximum: 65535
