<Configuration status="WARN">
    <AsyncLoggerContextSelector/>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
<!--        <File name="File" fileName="corneast-core/logs/core.log" append="true">-->
<!--            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />-->
<!--        </File>-->
    </Appenders>
    <Loggers>
        <AsyncRoot level="info">
            <AppenderRef ref="Console" />
        </AsyncRoot>
    </Loggers>
</Configuration>